apiVersion: v1
kind: ConfigMap
metadata:
  name: student-config
  namespace: devops
data:
  SPRING_DATASOURCE_URL: "jdbc:mysql://mysql:3306/studentdb"
  SPRING_JPA_HIBERNATE_DDL_AUTO: "update"
  SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT: "org.hibernate.dialect.MySQL8Dialect"
---
apiVersion: v1
kind: Secret
metadata:
  name: student-db-secret
  namespace: devops
type: Opaque
stringData:
  SPRING_DATASOURCE_USERNAME: "root"
  SPRING_DATASOURCE_PASSWORD: "ton_password"  # Remplace par ton mot de passe
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-app
  namespace: devops
spec:
  replicas: 2
  selector:
    matchLabels:
      app: student-app
  template:
    metadata:
      labels:
        app: student-app
    spec:
      initContainers:
      - name: wait-for-mysql
        image: busybox
        command:
          - sh
          - -c
          - |
            until nc -z mysql 3306; do
              echo "Waiting for MySQL..."
              sleep 3
            done
      containers:
      - name: student-app
        image: student-management:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
        env:
          - name: SPRING_DATASOURCE_URL
            valueFrom:
              configMapKeyRef:
                name: student-config
                key: SPRING_DATASOURCE_URL
          - name: SPRING_JPA_HIBERNATE_DDL_AUTO
            valueFrom:
              configMapKeyRef:
                name: student-config
                key: SPRING_JPA_HIBERNATE_DDL_AUTO
          - name: SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT
            valueFrom:
              configMapKeyRef:
                name: student-config
                key: SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT
          - name: SPRING_DATASOURCE_USERNAME
            valueFrom:
              secretKeyRef:
                name: student-db-secret
                key: SPRING_DATASOURCE_USERNAME
          - name: SPRING_DATASOURCE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: student-db-secret
                key: SPRING_DATASOURCE_PASSWORD
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: student-app-service
  namespace: devops
spec:
  selector:
    app: student-app
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: ClusterIP
